a.out
lex.txt
lex.yy.c
y.tab.c
y.tab.h
y.tab.h.gch
parse_tree.dot
a.exe
cmd.txt
new_parser.tab.c
new_parser.tab.h
parse_tree.pdf
sample1.txt
sample2.txt
sample3.txt
sample4.txt
sample5.txt
sample6.txt
sample7.txt
sample8.txt